RFC 5451 is obsoleted

[RFC 5451](https://tools.ietf.org/html/rfc5451) (April 2009) is obsoleted by [RFC April 2009](https://tools.ietf.org/html/rfc7001) (September 2013) which is obsoleted by [RFC 7601](https://tools.ietf.org/html/rfc7601) (August 2015) which is obsoleted by [RFC 8601](https://tools.ietf.org/html/rfc8601) (May 2019).

One should check if this plugin is compliant with RFC 8601. And if yes, update the references in README and the project description and tags on Github.

Thanks for the info but the way you communicate it is not really constructive and it seems you are missing the major point of open-source software ;)

Unfortunately, no one has communicated this issue better than me...

Could you please clarify what you don't like about my description of the issue so I can fix it? It is quite concise but it contains problem statement and possible solution. Why not to fix the description instead of closing an unfixed valid issue as "completed"?

The idea behind open source (or at least it is for me) is that we all have the possibility to work together on the same software and make it better. Maybe I misunderstood you, but the last paragraph of your message just sounded a bit demanding. Like why won't you be the one who checks compliance with RFC 8601? That's the real power of open source! 😃 




  OK, I have updated the description. I hope it is not so demanding now. Thank you!

Awesome, really appreciate the detailed chain of RFC's! I will see if I can find some time to read these RFC's and check what needs changing.

Between you and me, I actually searched for follow-up RFC's for 5451 many years back (i think around 2017) cause I found it strange that 5451 was never updated since 2009. But I guess my search skillz weren't what they needed to be cause I didn't find anything at the time 😞 

I have looked at this and the differences between RFC-8601 and 5451 seem minor. I did search last year for other related projects as I was hoping I could just copy their list of test cases to verify if/what needed to be changed to be able to really claim we are 8601 compliant.

Unfortunately I didnt find any project with trivial test cases I could copy. As I dont have the bandwidth to spent a lot of time on this, I'll add the help wanted label for now.

If anyone wants to help: Having a clear list of test-cases would be very helpful as long as they are easily consumable. See the existing test cases, preferably test-cases exists of only the email headers and the expected results