Is SMTP AUTH supported?

The readme makes it sound like the plugin supports displaying the results of smtp authentication in lieu of a DKIM signature. Is this actually the case?

My postfix generates an authres-header like this:
`Authentication-Results: auth=pass smtp.auth=sendonly smtp.mailfrom=operations@five-ey.es`, yet authres_status does not seem to recognize this as an authenticated mail.

Hi, thanks for the report. This was a bug caused by a regression after adding the authservid check. As the smtp auth header does not list an authservid, it was always ignored. I have made the authservid check optional and added a test case for smtp auth headers. Please upgrade to v0.4.1 (please be aware that packagist on plugins.rc.net can take a while before picking up the new release)

Thanks for the clarification and quick response, it works like expected now! Although now I wonder if postfix should actually add the authserv-id to the header…

Hmm, you might be on to something. Section 2.3 of RFC5451 specifies every Authentication-Results header `has` an authserv-id. 

Could you check if this is a configuration issue or an issue with postfix itself? Eg if postfix is just not able to add the servauth-id  maybe it would be better to add a configuration options to treat headers without authserv-id as 'trusted'. But maybe it would bebetter I will add that configuration option anyway, gives you some flexiblity at least.